In [1]:
import pandas as pd
import numpy as np

In [2]:
df  = pd.read_csv("car_dataset.csv")
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
df.Owner.unique()

array([0, 1, 3])

In [4]:
df.isnull().sum(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

(Car_Name         0
 Year             0
 Selling_Price    0
 Present_Price    0
 Kms_Driven       0
 Fuel_Type        0
 Seller_Type      0
 Transmission     0
 Owner            0
 dtype: int64,
 None)

In [5]:
df = df.drop("Car_Name", axis=1)
df["Year"] = df["Year"].max()-df["Year"]
df = pd.get_dummies(df,columns=["Fuel_Type",	"Seller_Type",	"Transmission"],drop_first=True)
df

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,4,3.35,5.59,27000,0,0,1,0,1
1,5,4.75,9.54,43000,0,1,0,0,1
2,1,7.25,9.85,6900,0,0,1,0,1
3,7,2.85,4.15,5200,0,0,1,0,1
4,4,4.60,6.87,42450,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
296,2,9.50,11.60,33988,0,1,0,0,1
297,3,4.00,5.90,60000,0,0,1,0,1
298,9,3.35,11.00,87934,0,0,1,0,1
299,1,11.50,12.50,9000,0,1,0,0,1
300,2,5.30,5.90,5464,0,0,1,0,1

In [6]:
X,y = df.drop("Selling_Price",axis=1), df["Selling_Price"]

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
scaler = MinMaxScaler().fit(X)

In [9]:
X=scaler.transform(X)

In [10]:
from xgboost import XGBRegressor
model = XGBRegressor()
model.fit(X,y)
model.score(X,y)

0.9999845130058066

In [11]:
y_pred= model.predict(X)

In [12]:
df["y_pred"] = y_pred

In [13]:
from sklearn.metrics import r2_score, mean_absolute_error

In [15]:
"r2",r2_score(y,y_pred), "mae", mean_absolute_error(y,y_pred)

('r2', 0.9999845130058066, 'mae', 0.014087983362896508)

In [16]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression(normalize=True) # 
lr_model.fit(X,y)
lr_model.score(X,y)

0.8825741581640659

In [17]:
import joblib
joblib.dump(model,open("xgb_model.joblib","wb"))
joblib.dump(scaler,open("scaler.joblib","wb"))
joblib.dump(list(df.drop(["Selling_Price","y_pred"],axis=1).columns),open("columns.joblib","wb"))

In [18]:
sample_one = [{
"Year":2014,
"Selling_Price":3.35,
"Present_Price":5.59,
"Kms_Driven":27000,
"Fuel_Type":"Petrol",
"Seller_Type":"Dealer",
"Transmission":"Manual",
"Owner":0
    }]

In [19]:
columns = joblib.load("columns.joblib")
columns

['Year',
 'Present_Price',
 'Kms_Driven',
 'Owner',
 'Fuel_Type_Diesel',
 'Fuel_Type_Petrol',
 'Seller_Type_Individual',
 'Transmission_Manual']

In [20]:
df_s = pd.DataFrame(sample_one)
df_s

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0

In [21]:
df_s["Year"] = 2018-df_s["Year"]
df_s = pd.get_dummies(df_s).reindex(columns=columns, fill_value=0)
df_s

,Year,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,4,5.59,27000,0,0,1,0,1

In [22]:
scaler = joblib.load(open("scaler.joblib","rb"))
model = joblib.load(open("xgb_model.joblib","rb"))
df_s = scaler.transform(df_s)
res = model.predict(df_s)
res

array([3.3797061], dtype=float32)

In [25]:
sample_two = [{
"Year":2014,
"Present_Price":5.59,
"Kms_Driven":27000,
"Fuel_Type":"Petrol",
"Seller_Type":"Dealer",
"Transmission":"Manual",
"Owner":0
    },
{
"Year":2014,
"Present_Price":5.59,
"Kms_Driven":27000,
"Fuel_Type":"Petrol",
"Seller_Type":"Dealer",
"Transmission":"Manual",
"Owner":0
    }
]

In [26]:
scaler = joblib.load(open("scaler.joblib","rb"))
model = joblib.load(open("xgb_model.joblib","rb"))
columns = joblib.load("columns.joblib")
df_two = pd.DataFrame(sample_two)
df_two["Year"] = 2018-df_two["Year"]
df_two = pd.get_dummies(df_two).reindex(columns=columns, fill_value=0)
df_two = scaler.transform(df_two)
res = model.predict(df_two)
res

array([3.3797061, 3.3797061], dtype=float32)

In [27]:
df.iloc[y_pred.argmax()]

Year                          8.000000
Selling_Price                35.000000
Present_Price                92.600000
Kms_Driven                78000.000000
Owner                         0.000000
Fuel_Type_Diesel              1.000000
Fuel_Type_Petrol              0.000000
Seller_Type_Individual        0.000000
Transmission_Manual           1.000000
y_pred                       34.994293
Name: 86, dtype: float64

In [1]:
import requests

In [3]:
url = "http://44.203.125.165:5000/"
data ={
"make_model":'Audi A3',
"hp_kW":'40',
"km":'1000',
"age":'0',
"gtype":"Automatic",
"gnumber":'5'
    }
response = requests.post(url, json=data)
print(response.text)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>TypeError: float() argument must be a string or a number, not &#x27;NoneType&#x27; // Werkzeug Debugger</title>
    <link rel="stylesheet" href="?__debugger__=yes&amp;cmd=resource&amp;f=style.css"
        type="text/css">
    <!-- We need to make sure this has a favicon so that the debugger does
         not accidentally trigger a request to /favicon.ico which might
         change the application's state. -->
    <link rel="shortcut icon"
        href="?__debugger__=yes&amp;cmd=resource&amp;f=console.png">
    <script src="?__debugger__=yes&amp;cmd=resource&amp;f=debugger.js"></script>
    <script type="text/javascript">
      var TRACEBACK = 140381358519312,
          CONSOLE_MODE = false,
          EVALEX = true,
          EVALEX_TRUSTED = false,
          SECRET = "79tqYA7Wl5xQU2PN3rAn";
    </script>
  </head>
  <body style="background-color: #fff">
    <div class="debugger">
<h1>TypeError</h1>
<div class="detail">
  <p class="errormsg">TypeError: float() argument must be a string or a number, not &#x27;NoneType&#x27;</p>
</div>
<h2 class="traceback">Traceback <em>(most recent call last)</em></h2>
<div class="traceback">
  <h3></h3>
  <ul><li><div class="frame" id="frame-140381358518992">
  <h4>File <cite class="filename">"/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py"</cite>,
      line <em class="line">2091</em>,
      in <code class="function">__call__</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">    </span>def __call__(self, environ: dict, start_response: t.Callable) -&gt; t.Any:</pre>
<pre class="line before"><span class="ws">        </span>&quot;&quot;&quot;The WSGI server calls the Flask application object as the</pre>
<pre class="line before"><span class="ws">        </span>WSGI application. This calls :meth:`wsgi_app`, which can be</pre>
<pre class="line before"><span class="ws">        </span>wrapped to apply middleware.</pre>
<pre class="line before"><span class="ws">        </span>&quot;&quot;&quot;</pre>
<pre class="line current"><span class="ws">        </span>return self.wsgi_app(environ, start_response)</pre></div>
</div>

<li><div class="frame" id="frame-140381358519888">
  <h4>File <cite class="filename">"/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py"</cite>,
      line <em class="line">2076</em>,
      in <code class="function">wsgi_app</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">            </span>try:</pre>
<pre class="line before"><span class="ws">                </span>ctx.push()</pre>
<pre class="line before"><span class="ws">                </span>response = self.full_dispatch_request()</pre>
<pre class="line before"><span class="ws">            </span>except Exception as e:</pre>
<pre class="line before"><span class="ws">                </span>error = e</pre>
<pre class="line current"><span class="ws">                </span>response = self.handle_exception(e)</pre>
<pre class="line after"><span class="ws">            </span>except:  # noqa: B001</pre>
<pre class="line after"><span class="ws">                </span>error = sys.exc_info()[1]</pre>
<pre class="line after"><span class="ws">                </span>raise</pre>
<pre class="line after"><span class="ws">            </span>return response(environ, start_response)</pre>
<pre class="line after"><span class="ws">        </span>finally:</pre></div>
</div>

<li><div class="frame" id="frame-140381358519952">
  <h4>File <cite class="filename">"/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py"</cite>,
      line <em class="line">2073</em>,
      in <code class="function">wsgi_app</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">        </span>ctx = self.request_context(environ)</pre>
<pre class="line before"><span class="ws">        </span>error: t.Optional[BaseException] = None</pre>
<pre class="line before"><span class="ws">        </span>try:</pre>
<pre class="line before"><span class="ws">            </span>try:</pre>
<pre class="line before"><span class="ws">                </span>ctx.push()</pre>
<pre class="line current"><span class="ws">                </span>response = self.full_dispatch_request()</pre>
<pre class="line after"><span class="ws">            </span>except Exception as e:</pre>
<pre class="line after"><span class="ws">                </span>error = e</pre>
<pre class="line after"><span class="ws">                </span>response = self.handle_exception(e)</pre>
<pre class="line after"><span class="ws">            </span>except:  # noqa: B001</pre>
<pre class="line after"><span class="ws">                </span>error = sys.exc_info()[1]</pre></div>
</div>

<li><div class="frame" id="frame-140381358520016">
  <h4>File <cite class="filename">"/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py"</cite>,
      line <em class="line">1518</em>,
      in <code class="function">full_dispatch_request</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">            </span>request_started.send(self)</pre>
<pre class="line before"><span class="ws">            </span>rv = self.preprocess_request()</pre>
<pre class="line before"><span class="ws">            </span>if rv is None:</pre>
<pre class="line before"><span class="ws">                </span>rv = self.dispatch_request()</pre>
<pre class="line before"><span class="ws">        </span>except Exception as e:</pre>
<pre class="line current"><span class="ws">            </span>rv = self.handle_user_exception(e)</pre>
<pre class="line after"><span class="ws">        </span>return self.finalize_request(rv)</pre>
<pre class="line after"><span class="ws"></span> </pre>
<pre class="line after"><span class="ws">    </span>def finalize_request(</pre>
<pre class="line after"><span class="ws">        </span>self,</pre>
<pre class="line after"><span class="ws">        </span>rv: t.Union[ResponseReturnValue, HTTPException],</pre></div>
</div>

<li><div class="frame" id="frame-140381358520080">
  <h4>File <cite class="filename">"/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py"</cite>,
      line <em class="line">1516</em>,
      in <code class="function">full_dispatch_request</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">        </span>self.try_trigger_before_first_request_functions()</pre>
<pre class="line before"><span class="ws">        </span>try:</pre>
<pre class="line before"><span class="ws">            </span>request_started.send(self)</pre>
<pre class="line before"><span class="ws">            </span>rv = self.preprocess_request()</pre>
<pre class="line before"><span class="ws">            </span>if rv is None:</pre>
<pre class="line current"><span class="ws">                </span>rv = self.dispatch_request()</pre>
<pre class="line after"><span class="ws">        </span>except Exception as e:</pre>
<pre class="line after"><span class="ws">            </span>rv = self.handle_user_exception(e)</pre>
<pre class="line after"><span class="ws">        </span>return self.finalize_request(rv)</pre>
<pre class="line after"><span class="ws"></span> </pre>
<pre class="line after"><span class="ws">    </span>def finalize_request(</pre></div>
</div>

<li><div class="frame" id="frame-140381358519632">
  <h4>File <cite class="filename">"/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py"</cite>,
      line <em class="line">1502</em>,
      in <code class="function">dispatch_request</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">            </span>getattr(rule, &quot;provide_automatic_options&quot;, False)</pre>
<pre class="line before"><span class="ws">            </span>and req.method == &quot;OPTIONS&quot;</pre>
<pre class="line before"><span class="ws">        </span>):</pre>
<pre class="line before"><span class="ws">            </span>return self.make_default_options_response()</pre>
<pre class="line before"><span class="ws">        </span># otherwise dispatch to the handler for that endpoint</pre>
<pre class="line current"><span class="ws">        </span>return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)</pre>
<pre class="line after"><span class="ws"></span> </pre>
<pre class="line after"><span class="ws">    </span>def full_dispatch_request(self) -&gt; Response:</pre>
<pre class="line after"><span class="ws">        </span>&quot;&quot;&quot;Dispatches the request and on top of that performs request</pre>
<pre class="line after"><span class="ws">        </span>pre and postprocessing as well as HTTP exception catching and</pre>
<pre class="line after"><span class="ws">        </span>error handling.</pre></div>
</div>

<li><div class="frame" id="frame-140381358520272">
  <h4>File <cite class="filename">"/home/ec2-user/flask_needed/app2.py"</cite>,
      line <em class="line">56</em>,
      in <code class="function">rootpage</code></h4>
  <div class="source "><pre class="line before"><span class="ws">        </span>hp = request.form.get(&#x27;hp&#x27;)</pre>
<pre class="line before"><span class="ws">        </span>km = request.form.get(&#x27;km&#x27;)</pre>
<pre class="line before"><span class="ws">        </span>age = request.form.get(&#x27;age&#x27;)</pre>
<pre class="line before"><span class="ws">        </span>gtype = request.form.get(&#x27;gtype&#x27;)</pre>
<pre class="line before"><span class="ws">        </span>gnumber = request.form.get(&#x27;gnumber&#x27;)</pre>
<pre class="line current"><span class="ws">        </span>res = prediction(make, hp, km, age, gtype, gnumber)</pre>
<pre class="line after"><span class="ws">    </span>return render_template(&#x27;new_index.html&#x27;, res=res, make=make, hp=hp, km=km, age=age, gtype=gtype, gnumber=gnumber)</pre>
<pre class="line after"><span class="ws"></span> </pre>
<pre class="line after"><span class="ws"></span> </pre>
<pre class="line after"><span class="ws"></span>app.run(host=&#x27;0.0.0.0&#x27;, port=5000, debug=True)</pre></div>
</div>

<li><div class="frame" id="frame-140381358519696">
  <h4>File <cite class="filename">"/home/ec2-user/flask_needed/app2.py"</cite>,
      line <em class="line">11</em>,
      in <code class="function">prediction</code></h4>
  <div class="source "><pre class="line before"><span class="ws"></span>app = Flask(__name__)</pre>
<pre class="line before"><span class="ws"></span> </pre>
<pre class="line before"><span class="ws"></span>def prediction(make, hp, km, age, gtype, gnumber, df=&#x27;feature_selected_df.csv&#x27;, rf=&#x27;streamlit_final_rf&#x27;, xgb=&#x27;streamlit_final_xgb&#x27;):</pre>
<pre class="line before"><span class="ws"></span> </pre>
<pre class="line before"><span class="ws">    </span>new_df = {&#x27;make_model&#x27;: make,</pre>
<pre class="line current"><span class="ws">              </span>&#x27;hp_kW&#x27;:float(hp),</pre>
<pre class="line after"><span class="ws">              </span>&#x27;km&#x27;:float(km),</pre>
<pre class="line after"><span class="ws">              </span>&#x27;age&#x27;:float(age),</pre>
<pre class="line after"><span class="ws">              </span>&#x27;Gearing_Type&#x27;:gtype,</pre>
<pre class="line after"><span class="ws">              </span>&#x27;Gears&#x27;:float(gnumber)}</pre>
<pre class="line after"><span class="ws">    </span>features = pd.DataFrame(new_df, index=[0])</pre></div>
</div>
</ul>
  <blockquote>TypeError: float() argument must be a string or a number, not &#x27;NoneType&#x27;</blockquote>
</div>

<div class="plain">
    <p>
      This is the Copy/Paste friendly version of the traceback.
    </p>
    <textarea cols="50" rows="10" name="code" readonly>Traceback (most recent call last):
  File &quot;/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py&quot;, line 2091, in __call__
    return self.wsgi_app(environ, start_response)
  File &quot;/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py&quot;, line 2076, in wsgi_app
    response = self.handle_exception(e)
  File &quot;/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py&quot;, line 2073, in wsgi_app
    response = self.full_dispatch_request()
  File &quot;/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py&quot;, line 1518, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File &quot;/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py&quot;, line 1516, in full_dispatch_request
    rv = self.dispatch_request()
  File &quot;/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py&quot;, line 1502, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File &quot;/home/ec2-user/flask_needed/app2.py&quot;, line 56, in rootpage
    res = prediction(make, hp, km, age, gtype, gnumber)
  File &quot;/home/ec2-user/flask_needed/app2.py&quot;, line 11, in prediction
    &#x27;hp_kW&#x27;:float(hp),
TypeError: float() argument must be a string or a number, not &#x27;NoneType&#x27;</textarea>
</div>
<div class="explanation">
  The debugger caught an exception in your WSGI application.  You can now
  look at the traceback which led to the error.  <span class="nojavascript">
  If you enable JavaScript you can also use additional features such as code
  execution (if the evalex feature is enabled), automatic pasting of the
  exceptions and much more.</span>
</div>
      <div class="footer">
        Brought to you by <strong class="arthur">DON'T PANIC</strong>, your
        friendly Werkzeug powered traceback interpreter.
      </div>
    </div>

    <div class="pin-prompt">
      <div class="inner">
        <h3>Console Locked</h3>
        <p>
          The console is locked and needs to be unlocked by entering the PIN.
          You can find the PIN printed out on the standard output of your
          shell that runs the server.
        <form>
          <p>PIN:
            <input type=text name=pin size=14>
            <input type=submit name=btn value="Confirm Pin">
        </form>
      </div>
    </div>
  </body>
</html>

<!--

Traceback (most recent call last):
  File "/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py", line 2091, in __call__
    return self.wsgi_app(environ, start_response)
  File "/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py", line 2076, in wsgi_app
    response = self.handle_exception(e)
  File "/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py", line 2073, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py", line 1518, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py", line 1516, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/ec2-user/flask_needed/venv/lib/python3.7/site-packages/flask/app.py", line 1502, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/ec2-user/flask_needed/app2.py", line 56, in rootpage
    res = prediction(make, hp, km, age, gtype, gnumber)
  File "/home/ec2-user/flask_needed/app2.py", line 11, in prediction
    'hp_kW':float(hp),
TypeError: float() argument must be a string or a number, not 'NoneType'

-->

In [11]:
url = "http://127.0.0.1:5000/api"
data ={
"Year":2014,
"Present_Price":5.59,
"Kms_Driven":27000,
"Fuel_Type":"Petrol",
"Seller_Type":"Dealer",
"Transmission":"Manual",
"Owner":0
    }
response = requests.post(url, json=data)
print(response.text)

{
  "Predicted price": "$ 3.3797"
}