In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('employeetable_sqlite.ipynb') # sql ile connection olusturuluyor

# eger burada file ismi yerine :memory: yazarsam olusturulan database'i memory'ye olusturacak ve her calistirdigimda
# silinip tekrar olusacagi icin ayni isimde tablo olustursam bile daha once olusturdunuz gibi bir hata vermeyecek

# memory daha cok test amacli kullaniliyor

In [3]:
c = conn.cursor() # sql komutlarimizi yazmak icin cursor kuruyoruz

In [4]:
c.execute("""CREATE TABLE employee (
            first text,
            last text,
            pay integer
            )""")

# sql komutunu buraya yaziyoruz

In [ ]:
# eger bu komutlari vs code'da yaziyor olsaydim, her bir komutu ayri ayri ve sirayla calistirmak icin 
# conn.commit() demem gerekirdi.

In [5]:
c.execute("INSERT INTO employee VALUES ('Corey', 'Schafer', 50000)")

# Burada yukarida olusturdugumuz employee tablosuna veri girisi yapmis olduk

In [9]:
c.execute("SELECT * FROM employee WHERE last='Schafer'")
# c.fetchone() ilk row'u dondurur, ilk row'da aradigimiz degeri bulamazsa None dondurur

# c.fetchmany(5) icine yazildigi kadar row'u bir liste icinde dondurur, eger deger bulamazsa bos liste dondurur

# c.fetchall() butun row'lari bir liste icinde dondurur, eger deger bulamazsa bos liste dondurur

In [7]:
c.fetchone()

# bu kodu calistirdiktan sonra ikinci bir fetch islemi yapamam, oncesinde yeni bir execute yapmam gerekli

('Corey', 'Schafer', 50000)

In [ ]:
c.execute("SELECT * FROM employee WHERE last='Schafer'")

In [10]:
c.fetchall()

[('Corey', 'Schafer', 50000)]

In [11]:
c.execute("INSERT INTO employee VALUES ('Mary', 'Schafer', 70000)")

In [13]:
c.execute("SELECT * FROM employee WHERE last='Schafer'")

In [14]:
c.fetchall()

[('Corey', 'Schafer', 50000), ('Mary', 'Schafer', 70000)]

In [16]:
from employee import Employee

In [17]:
emp_1 = Employee('John', 'Doe', 80000)
emp_2 = Employee('Jane', 'Doe', 90000)

In [18]:
c.execute("INSERT INTO employee VALUES (?, ?, ?)", (emp_1.first, emp_1.last, emp_1.pay))

In [19]:
c.execute("INSERT INTO employee VALUES (:first, :last, :pay)", {'first':emp_2.first, 'last':emp_2.last,
                                                               'pay':emp_2.pay})

In [20]:
c.execute("SELECT * FROM employee WHERE last=?", ('Schafer',))

In [21]:
c.fetchone()

('Corey', 'Schafer', 50000)

In [24]:
c.execute("SELECT * FROM employee WHERE last=:last", {'last': 'Doe'})

In [25]:
c.fetchall()

[('John', 'Doe', 80000), ('Jane', 'Doe', 90000)]

In [ ]:
###########################
###########################

In [29]:
import sqlite3
from employee import Employee

conn = sqlite3.connect(':memory:')

c = conn.cursor()

c.execute("""CREATE TABLE employee (
            first text,
            last text,
            pay integer
            )""")

def insert_emp(emp):
    with conn: # execution islemi commit yapilmasi gerektigi icin commit ac kapa yapmamak icin bunu kullandik,
               # burada otomatik acma kapama islemi yapacak
        c.execute("INSERT INTO employee VALUES (:first, :last, :pay)", {'first':emp.first, 'last':emp.last,
                                                               'pay':emp.pay})

def get_emps_by_name(lastname):
    c.execute("SELECT * FROM employee WHERE last = :last", {'last': lastname})
    return c.fetchall()

def update_pay(emp, pay):
    with conn:
        c.execute("""UPDATE employee SET pay = :pay
                    WHERE first = :first AND last = :last""", {'first':emp.first, 'last':emp.last, 'pay':pay})

def remove_emp(emp):
    with conn:
        c.execute("DELETE from employee WHERE first = :first AND last = :last", {'first':emp.first, 'last':emp.last})

emp_1 = Employee('John', 'Doe', 80000)
emp_2 = Employee('Jane', 'Doe', 90000)

insert_emp(emp_1)
insert_emp(emp_2)

emps = get_emps_by_name('Doe')
print(emps)

update_pay(emp_2, 95000)

remove_emp(emp_1)

emps = get_emps_by_name('Doe')
print(emps)

conn.close() # olusturdugumuz connection'i kapattik

[('John', 'Doe', 80000), ('Jane', 'Doe', 90000)]
[('Jane', 'Doe', 95000)]