### how to download python, sqlite, git bash, etc:
<a>https://www.youtube.com/watch?v=byHcYRpMgI4</a>

### importing the sqlite module

In [1]:
import sqlite3

### creating a connection to sqlite

In [2]:
conn = sqlite3.connect('customer.db')

In [3]:
# eger buraya sqlite3.connect(':memory:') dersem yine ayni database'i olusturur ancak memory'de gecici bir sureyle
# olusturmus olur.

### creating a cursor

In [4]:
c = conn.cursor()

### creating a table

In [5]:
c.execute("""
    CREATE TABLE customers (
    first_name TEXT,
    last_name TEXT,
    email TEXT)
""")

# there are five datatypes in sqlite: TEXT, INTEGER, NULL, BLOB, REAL

OperationalError: table customers already exists

### inserting a row into the table

In [6]:
c.execute("INSERT INTO customers VALUES ('Mary', 'Brown', 'marybrown@gmail.com')")

### selecting the current customer information

In [7]:
c.execute("SELECT * FROM customers")

### fetching all the information that the select clause brought us

In [8]:
c.fetchall()

[('Mary', 'Brown', 'marybrown@gmail.com')]

In [9]:
new_customers = [('Wes', 'Brown', 'wesbrown@gmail.com'),('Aron', 'Jack', 'aronjack@gmail.com'),
                 ('Dan', 'As', 'danas@gmail.com')]

### inserting many rows at the same time

In [10]:
c.executemany("INSERT INTO customers VALUES (?,?,?)", new_customers)

In [11]:
c.execute("SELECT * FROM customers")

In [12]:
# c.fetchone() ilk row'u dondurur
# c.fetchmany(3) ilk 3 row'u dondurur
# c.fetchall() butun row'lari dondurur

In [13]:
c.fetchall()

[('Mary', 'Brown', 'marybrown@gmail.com'),
 ('Wes', 'Brown', 'wesbrown@gmail.com'),
 ('Aron', 'Jack', 'aronjack@gmail.com'),
 ('Dan', 'As', 'danas@gmail.com')]

In [14]:
c.execute("SELECT * FROM customers")

In [15]:
c.fetchone()

('Mary', 'Brown', 'marybrown@gmail.com')

In [16]:
c.execute("SELECT * FROM customers")

In [17]:
c.fetchmany(2)

[('Mary', 'Brown', 'marybrown@gmail.com'),
 ('Wes', 'Brown', 'wesbrown@gmail.com')]

### class yardimiyla deger atama

In [18]:
class customer:
    
    def __init__(self, first, last, email):
        self.first = first
        self.last = last
        self.email = email

In [19]:
cus_1 = customer('John', 'Doe', 'johndoe@gmail.com')
cus_2 = customer('Jane', 'Doe', 'janedoe@gmail.com')

In [20]:
# yer tutuculari iki farkli sekilde kullanmak mumkun
# 1
c.execute("INSERT INTO customers VALUES (?, ?, ?)", (cus_1.first, cus_1.last, cus_1.email))


#2
c.execute("INSERT INTO customers VALUES (:first, :last, :email)", {'first':cus_2.first, 'last':cus_2.last, 
                                                                  'email':cus_2.email})

In [21]:
c.execute("SELECT * FROM customers")

In [22]:
c.fetchall()

[('Mary', 'Brown', 'marybrown@gmail.com'),
 ('Wes', 'Brown', 'wesbrown@gmail.com'),
 ('Aron', 'Jack', 'aronjack@gmail.com'),
 ('Dan', 'As', 'danas@gmail.com'),
 ('John', 'Doe', 'johndoe@gmail.com'),
 ('Jane', 'Doe', 'janedoe@gmail.com')]

### selecting the primary key with customer information

In [23]:
c.execute("SELECT rowid, * FROM customers")

In [24]:
c.fetchall()

[(1, 'Mary', 'Brown', 'marybrown@gmail.com'),
 (2, 'Wes', 'Brown', 'wesbrown@gmail.com'),
 (3, 'Aron', 'Jack', 'aronjack@gmail.com'),
 (4, 'Dan', 'As', 'danas@gmail.com'),
 (5, 'John', 'Doe', 'johndoe@gmail.com'),
 (6, 'Jane', 'Doe', 'janedoe@gmail.com')]

In [25]:
c.execute("SELECT rowid, * FROM customers WHERE last_name = 'Brown'")

In [26]:
c.fetchall()

[(1, 'Mary', 'Brown', 'marybrown@gmail.com'),
 (2, 'Wes', 'Brown', 'wesbrown@gmail.com')]

In [27]:
c.execute("SELECT rowid, * FROM customers WHERE email LIKE '%gmail%'")

In [28]:
c.fetchall()

[(1, 'Mary', 'Brown', 'marybrown@gmail.com'),
 (2, 'Wes', 'Brown', 'wesbrown@gmail.com'),
 (3, 'Aron', 'Jack', 'aronjack@gmail.com'),
 (4, 'Dan', 'As', 'danas@gmail.com'),
 (5, 'John', 'Doe', 'johndoe@gmail.com'),
 (6, 'Jane', 'Doe', 'janedoe@gmail.com')]

In [29]:
name = 'Brown'
c.execute("SELECT * FROM customers WHERE last_name = (?)", (name,)) # tuple'da tek deger icin virgul onemli

In [30]:
c.fetchall()

[('Mary', 'Brown', 'marybrown@gmail.com'),
 ('Wes', 'Brown', 'wesbrown@gmail.com')]

### updating records

In [31]:
c.execute("""
    UPDATE customers SET first_name = 'Bob'
    WHERE last_name = 'Jack'
""")

In [32]:
c.execute("SELECT * FROM customers")

In [33]:
c.fetchall()

[('Mary', 'Brown', 'marybrown@gmail.com'),
 ('Wes', 'Brown', 'wesbrown@gmail.com'),
 ('Bob', 'Jack', 'aronjack@gmail.com'),
 ('Dan', 'As', 'danas@gmail.com'),
 ('John', 'Doe', 'johndoe@gmail.com'),
 ('Jane', 'Doe', 'janedoe@gmail.com')]

In [34]:
c.execute("""
    UPDATE customers SET first_name = 'Dustin'
    WHERE rowid = 4
""")

In [35]:
c.execute("SELECT * FROM customers")

In [36]:
c.fetchall()

[('Mary', 'Brown', 'marybrown@gmail.com'),
 ('Wes', 'Brown', 'wesbrown@gmail.com'),
 ('Bob', 'Jack', 'aronjack@gmail.com'),
 ('Dustin', 'As', 'danas@gmail.com'),
 ('John', 'Doe', 'johndoe@gmail.com'),
 ('Jane', 'Doe', 'janedoe@gmail.com')]

### deleting a record

In [37]:
c.execute("""
    DELETE FROM customers
    WHERE rowid = 4
""")

In [38]:
ide = '1' # islemlerde eger bu sekilde bir islem yapacaksam burada sayiyi string olarak gondermem gerekiyor
c.execute("""DELETE FROM customers WHERE rowid = (?)""", ide)

In [39]:
c.execute("SELECT * FROM customers")

In [40]:
c.fetchall()

[('Wes', 'Brown', 'wesbrown@gmail.com'),
 ('Bob', 'Jack', 'aronjack@gmail.com'),
 ('John', 'Doe', 'johndoe@gmail.com'),
 ('Jane', 'Doe', 'janedoe@gmail.com')]

In [41]:
c.execute("INSERT INTO customers VALUES ('Mary', 'Brown', 'marybrown@gmail.com')")

### ordering the records

In [42]:
c.execute("SELECT rowid, * FROM customers ORDER BY first_name DESC")

In [43]:
c.fetchall()

[(2, 'Wes', 'Brown', 'wesbrown@gmail.com'),
 (7, 'Mary', 'Brown', 'marybrown@gmail.com'),
 (5, 'John', 'Doe', 'johndoe@gmail.com'),
 (6, 'Jane', 'Doe', 'janedoe@gmail.com'),
 (3, 'Bob', 'Jack', 'aronjack@gmail.com')]

### limiting the results

In [44]:
# sqlite'da order by'dan sonra limit clause'unu kullaniyoruz

In [45]:
c.execute("SELECT * FROM customers LIMIT 1")

In [46]:
c.fetchall()

[('Wes', 'Brown', 'wesbrown@gmail.com')]

### dropping a table

In [47]:
# c.execute("DROP TABLE customers")

### committing a query

In [ ]:
# vscode gibi ide'lerde ayni sayfada execution islemlerini calistirmak icin commit islemi yapmamiz gerekiyor
# burada gerekli degil
conn.commit()

### closing a connection

In [48]:
# acilan connection'i kapatmak icin kullaniyoruz
conn.close()

### final function

In [ ]:
conn = sqlite3.connect('employee.db')

c = conn.cursor()

c.execute("""CREATE TABLE employee (
            first text,
            last text,
            pay integer
            )""")

def insert_emp(emp):
    with conn: # execution islemi commit yapilmasi gerektigi icin commit ac kapa yapmamak icin bunu kullandik,
               # burada otomatik acma kapama islemi yapacak
        c.execute("INSERT INTO employee VALUES (:first, :last, :pay)", {'first':emp.first, 'last':emp.last,
                                                               'pay':emp.pay})

def get_emps_by_name(lastname):
    c.execute("SELECT * FROM employee WHERE last = :last", {'last': lastname})
    return c.fetchall()

def update_pay(emp, pay):
    with conn:
        c.execute("""UPDATE employee SET pay = :pay
                    WHERE first = :first AND last = :last""", {'first':emp.first, 'last':emp.last, 'pay':pay})

def remove_emp(emp):
    with conn:
        c.execute("DELETE from employee WHERE first = :first AND last = :last", {'first':emp.first, 'last':emp.last})

emp_1 = Employee('John', 'Doe', 80000)
emp_2 = Employee('Jane', 'Doe', 90000)

insert_emp(emp_1)
insert_emp(emp_2)

emps = get_emps_by_name('Doe')
print(emps)

update_pay(emp_2, 95000)

remove_emp(emp_1)

emps = get_emps_by_name('Doe')
print(emps)

conn.close() # olusturdugumuz connection'i kapattik

## connecting to a currently available database

In [49]:
conn2 = sqlite3.connect('chinook.db')

In [50]:
c2 = conn2.cursor()

In [51]:
# querying the tables in the database

c2.execute("""
    SELECT name
    FROM sqlite_schema
    WHERE type ='table' AND name NOT LIKE 'sqlite_%';
""")

In [52]:
c2.fetchall()

[('albums',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',)]

#### 1

In [53]:
c2.execute("SELECT * FROM albums")

In [54]:
albums_table = c2.fetchall()

In [55]:
albums_table

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3),
 (6, 'Jagged Little Pill', 4),
 (7, 'Facelift', 5),
 (8, 'Warner 25 Anos', 6),
 (9, 'Plays Metallica By Four Cellos', 7),
 (10, 'Audioslave', 8),
 (11, 'Out Of Exile', 8),
 (12, 'BackBeat Soundtrack', 9),
 (13, 'The Best Of Billy Cobham', 10),
 (14, 'Alcohol Fueled Brewtality Live! [Disc 1]', 11),
 (15, 'Alcohol Fueled Brewtality Live! [Disc 2]', 11),
 (16, 'Black Sabbath', 12),
 (17, 'Black Sabbath Vol. 4 (Remaster)', 12),
 (18, 'Body Count', 13),
 (19, 'Chemical Wedding', 14),
 (20, 'The Best Of Buddy Guy - The Millenium Collection', 15),
 (21, 'Prenda Minha', 16),
 (22, 'Sozinho Remix Ao Vivo', 16),
 (23, 'Minha Historia', 17),
 (24, 'Afrociberdelia', 18),
 (25, 'Da Lama Ao Caos', 18),
 (26, 'Acústico MTV [Live]', 19),
 (27, 'Cidade Negra - Hits', 19),
 (28, 'Na Pista', 20),
 (29, 'Axé Bahia 2001', 21),
 (30, 'BBC Sessions [Disc 1] [Live]', 22),
 (31, 'Bongo Fury', 23),
 (32, 'Carnaval 2001', 21),
 (33, 'Chill: Brazil (Disc 1)', 24),
 (34, 'Chill: Brazil (Disc 2)', 6),
 (35, 'Garage Inc. (Disc 1)', 50),
 (36, 'Greatest Hits II', 51),
 (37, 'Greatest Kiss', 52),
 (38, 'Heart of the Night', 53),
 (39, 'International Superhits', 54),
 (40, 'Into The Light', 55),
 (41, 'Meus Momentos', 56),
 (42, 'Minha História', 57),
 (43, 'MK III The Final Concerts [Disc 1]', 58),
 (44, 'Physical Graffiti [Disc 1]', 22),
 (45, 'Sambas De Enredo 2001', 21),
 (46, 'Supernatural', 59),
 (47, 'The Best of Ed Motta', 37),
 (48, 'The Essential Miles Davis [Disc 1]', 68),
 (49, 'The Essential Miles Davis [Disc 2]', 68),
 (50, 'The Final Concerts (Disc 2)', 58),
 (51, "Up An' Atom", 69),
 (52, 'Vinícius De Moraes - Sem Limite', 70),
 (53, 'Vozes do MPB', 21),
 (54, 'Chronicle, Vol. 1', 76),
 (55, 'Chronicle, Vol. 2', 76),
 (56, 'Cássia Eller - Coleção Sem Limite [Disc 2]', 77),
 (57, 'Cássia Eller - Sem Limite [Disc 1]', 77),
 (58, 'Come Taste The Band', 58),
 (59, 'Deep Purple In Rock', 58),
 (60, 'Fireball', 58),
 (61, "Knocking at Your Back Door: The Best Of Deep Purple in the 80's", 58),
 (62, 'Machine Head', 58),
 (63, 'Purpendicular', 58),
 (64, 'Slaves And Masters', 58),
 (65, 'Stormbringer', 58),
 (66, 'The Battle Rages On', 58),
 (67, "Vault: Def Leppard's Greatest Hits", 78),
 (68, 'Outbreak', 79),
 (69, 'Djavan Ao Vivo - Vol. 02', 80),
 (70, 'Djavan Ao Vivo - Vol. 1', 80),
 (71, 'Elis Regina-Minha História', 41),
 (72, 'The Cream Of Clapton', 81),
 (73, 'Unplugged', 81),
 (74, 'Album Of The Year', 82),
 (75, 'Angel Dust', 82),
 (76, 'King For A Day Fool For A Lifetime', 82),
 (77, 'The Real Thing', 82),
 (78, 'Deixa Entrar', 83),
 (79, 'In Your Honor [Disc 1]', 84),
 (80, 'In Your Honor [Disc 2]', 84),
 (81, 'One By One', 84),
 (82, 'The Colour And The Shape', 84),
 (83, 'My Way: The Best Of Frank Sinatra [Disc 1]', 85),
 (84, 'Roda De Funk', 86),
 (85, 'As Canções de Eu Tu Eles', 27),
 (86, 'Quanta Gente Veio Ver (Live)', 27),
 (87, 'Quanta Gente Veio ver--Bônus De Carnaval', 27),
 (88, 'Faceless', 87),
 (89, 'American Idiot', 54),
 (90, 'Appetite for Destruction', 88),
 (91, 'Use Your Illusion I', 88),
 (92, 'Use Your Illusion II', 88),
 (93, 'Blue Moods', 89),
 (94, 'A Matter of Life and Death', 90),
 (95, 'A Real Dead One', 90),
 (96, 'A Real Live One', 90),
 (97, 'Brave New World', 90),
 (98, 'Dance Of Death', 90),
 (99, 'Fear Of The Dark', 90),
 (100, 'Iron Maiden', 90),
 (101, 'Killers', 90),
 (102, 'Live After Death', 90),
 (103, 'Live At Donington 1992 (Disc 1)', 90),
 (104, 'Live At Donington 1992 (Disc 2)', 90),
 (105, 'No Prayer For The Dying', 90),
 (106, 'Piece Of Mind', 90),
 (107, 'Powerslave', 90),
 (108, 'Rock In Rio [CD1]', 90),
 (109, 'Rock In Rio [CD2]', 90),
 (110, 'Seventh Son of a Seventh Son', 90),
 (111, 'Somewhere in Time', 90),
 (112, 'The Number of The Beast', 90),
 (113, 'The X Factor', 90),
 (114, 'Virtual XI', 90),
 (115, 'Sex Machine', 91),
 (116, 'Emergency On Planet Earth', 92),
 (117, 'Synkronized', 92),
 (118, 'The Return Of The Space Cowboy', 92),
 (119, 'Get Born', 93),
 (120, 'Are You Experienced?', 94),
 (121, 'Surfing with the Alien (Remastered)', 95),
 (122, 'Jorge Ben Jor 25 Anos', 46),
 (123, 'Jota Quest-1995', 96),
 (124, 'Cafezinho', 97),
 (125, 'Living After Midnight', 98),
 (126, 'Unplugged [Live]', 52),
 (127, 'BBC Sessions [Disc 2] [Live]', 22),
 (128, 'Coda', 22),
 (129, 'Houses Of The Holy', 22),
 (130, 'In Through The Out Door', 22),
 (131, 'IV', 22),
 (132, 'Led Zeppelin I', 22),
 (133, 'Led Zeppelin II', 22),
 (134, 'Led Zeppelin III', 22),
 (135, 'Physical Graffiti [Disc 2]', 22),
 (136, 'Presence', 22),
 (137, 'The Song Remains The Same (Disc 1)', 22),
 (138, 'The Song Remains The Same (Disc 2)', 22),
 (139, 'A TempestadeTempestade Ou O Livro Dos Dias', 99),
 (140, 'Mais Do Mesmo', 99),
 (141, 'Greatest Hits', 100),
 (142, 'Lulu Santos - RCA 100 Anos De Música - Álbum 01', 101),
 (143, 'Lulu Santos - RCA 100 Anos De Música - Álbum 02', 101),
 (144, 'Misplaced Childhood', 102),
 (145, 'Barulhinho Bom', 103),
 (146, 'Seek And Shall Find: More Of The Best (1963-1981)', 104),
 (147, 'The Best Of Men At Work', 105),
 (148, 'Black Album', 50),
 (149, 'Garage Inc. (Disc 2)', 50),
 (150, "Kill 'Em All", 50),
 (151, 'Load', 50),
 (152, 'Master Of Puppets', 50),
 (153, 'ReLoad', 50),
 (154, 'Ride The Lightning', 50),
 (155, 'St. Anger', 50),
 (156, '...And Justice For All', 50),
 (157, 'Miles Ahead', 68),
 (158, 'Milton Nascimento Ao Vivo', 42),
 (159, 'Minas', 42),
 (160, 'Ace Of Spades', 106),
 (161, 'Demorou...', 108),
 (162, 'Motley Crue Greatest Hits', 109),
 (163, 'From The Muddy Banks Of The Wishkah [Live]', 110),
 (164, 'Nevermind', 110),
 (165, 'Compositores', 111),
 (166, 'Olodum', 112),
 (167, 'Acústico MTV', 113),
 (168, 'Arquivo II', 113),
 (169, 'Arquivo Os Paralamas Do Sucesso', 113),
 (170, 'Bark at the Moon (Remastered)', 114),
 (171, 'Blizzard of Ozz', 114),
 (172, 'Diary of a Madman (Remastered)', 114),
 (173, 'No More Tears (Remastered)', 114),
 (174, 'Tribute', 114),
 (175, 'Walking Into Clarksdale', 115),
 (176, 'Original Soundtracks 1', 116),
 (177, 'The Beast Live', 117),
 (178, 'Live On Two Legs [Live]', 118),
 (179, 'Pearl Jam', 118),
 (180, 'Riot Act', 118),
 (181, 'Ten', 118),
 (182, 'Vs.', 118),
 (183, 'Dark Side Of The Moon', 120),
 (184, 'Os Cães Ladram Mas A Caravana Não Pára', 121),
 (185, 'Greatest Hits I', 51),
 (186, 'News Of The World', 51),
 (187, 'Out Of Time', 122),
 (188, 'Green', 124),
 (189, 'New Adventures In Hi-Fi', 124),
 (190, 'The Best Of R.E.M.: The IRS Years', 124),
 (191, 'Cesta Básica', 125),
 (192, 'Raul Seixas', 126),
 (193, 'Blood Sugar Sex Magik', 127),
 (194, 'By The Way', 127),
 (195, 'Californication', 127),
 (196, 'Retrospective I (1974-1980)', 128),
 (197, 'Santana - As Years Go By', 59),
 (198, 'Santana Live', 59),
 (199, 'Maquinarama', 130),
 (200, 'O Samba Poconé', 130),
 (201, 'Judas 0: B-Sides and Rarities', 131),
 (202, 'Rotten Apples: Greatest Hits', 131),
 (203, 'A-Sides', 132),
 (204, 'Morning Dance', 53),
 (205, 'In Step', 133),
 (206, 'Core', 134),
 (207, 'Mezmerize', 135),
 (208, '[1997] Black Light Syndrome', 136),
 (209, 'Live [Disc 1]', 137),
 (210, 'Live [Disc 2]', 137),
 (211, 'The Singles', 138),
 (212, 'Beyond Good And Evil', 139),
 (213,
  'Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]',
  139),
 (214, 'The Doors', 140),
 (215, 'The Police Greatest Hits', 141),
 (216, 'Hot Rocks, 1964-1971 (Disc 1)', 142),
 (217, 'No Security', 142),
 (218, 'Voodoo Lounge', 142),
 (219, 'Tangents', 143),
 (220, 'Transmission', 143),
 (221, 'My Generation - The Very Best Of The Who', 144),
 (222, 'Serie Sem Limite (Disc 1)', 145),
 (223, 'Serie Sem Limite (Disc 2)', 145),
 (224, 'Acústico', 146),
 (225, 'Volume Dois', 146),
 (226, 'Battlestar Galactica: The Story So Far', 147),
 (227, 'Battlestar Galactica, Season 3', 147),
 (228, 'Heroes, Season 1', 148),
 (229, 'Lost, Season 3', 149),
 (230, 'Lost, Season 1', 149),
 (231, 'Lost, Season 2', 149),
 (232, 'Achtung Baby', 150),
 (233, "All That You Can't Leave Behind", 150),
 (234, 'B-Sides 1980-1990', 150),
 (235, 'How To Dismantle An Atomic Bomb', 150),
 (236, 'Pop', 150),
 (237, 'Rattle And Hum', 150),
 (238, 'The Best Of 1980-1990', 150),
 (239, 'War', 150),
 (240, 'Zooropa', 150),
 (241, 'UB40 The Best Of - Volume Two [UK]', 151),
 (242, 'Diver Down', 152),
 (243, 'The Best Of Van Halen, Vol. I', 152),
 (244, 'Van Halen', 152),
 (245, 'Van Halen III', 152),
 (246, 'Contraband', 153),
 (247, 'Vinicius De Moraes', 72),
 (248, 'Ao Vivo [IMPORT]', 155),
 (249, 'The Office, Season 1', 156),
 (250, 'The Office, Season 2', 156),
 (251, 'The Office, Season 3', 156),
 (252, 'Un-Led-Ed', 157),
 (253, 'Battlestar Galactica (Classic), Season 1', 158),
 (254, 'Aquaman', 159),
 (255,
  'Instant Karma: The Amnesty International Campaign to Save Darfur',
  150),
 (256, 'Speak of the Devil', 114),
 (257,
  '20th Century Masters - The Millennium Collection: The Best of Scorpions',
  179),
 (258, 'House of Pain', 180),
 (259,
  'Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro',
  36),
 (260, 'Cake: B-Sides and Rarities', 196),
 (261, 'LOST, Season 4', 149),
 (262, 'Quiet Songs', 197),
 (263, 'Muso Ko', 198),
 (264, 'Realize', 199),
 (265, 'Every Kind of Light', 200),
 (266, 'Duos II', 201),
 (267, 'Worlds', 202),
 (268, 'The Best of Beethoven', 203),
 (269, 'Temple of the Dog', 204),
 (270, 'Carry On', 205),
 (271, 'Revelations', 8),
 (272, 'Adorate Deum: Gregorian Chant from the Proper of the Mass', 206),
 (273, 'Allegri: Miserere', 207),
 (274, 'Pachelbel: Canon & Gigue', 208),
 (275, 'Vivaldi: The Four Seasons', 209),
 (276, 'Bach: Violin Concertos', 210),
 (277, 'Bach: Goldberg Variations', 211),
 (278, 'Bach: The Cello Suites', 212),
 (279, 'Handel: The Messiah (Highlights)', 213),
 (280, 'The World of Classical Favourites', 214),
 (281, 'Sir Neville Marriner: A Celebration', 215),
 (282, 'Mozart: Wind Concertos', 216),
 (283, 'Haydn: Symphonies 99 - 104', 217),
 (284, 'Beethoven: Symhonies Nos. 5 & 6', 218),
 (285, 'A Soprano Inspired', 219),
 (286, 'Great Opera Choruses', 220),
 (287, 'Wagner: Favourite Overtures', 221),
 (288, 'Fauré: Requiem, Ravel: Pavane & Others', 222),
 (289, 'Tchaikovsky: The Nutcracker', 223),
 (290, 'The Last Night of the Proms', 224),
 (291, 'Puccini: Madama Butterfly - Highlights', 225),
 (292, 'Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies', 226),
 (293, "Pavarotti's Opera Made Easy", 227),
 (294,
  "Great Performances - Barber's Adagio and Other Romantic Favorites for Strings",
  228),
 (295, 'Carmina Burana', 229),
 (296, 'A Copland Celebration, Vol. I', 230),
 (297, 'Bach: Toccata & Fugue in D Minor', 231),
 (298, 'Prokofiev: Symphony No.1', 232),
 (299, 'Scheherazade', 233),
 (300, 'Bach: The Brandenburg Concertos', 234),
 (301, 'Chopin: Piano Concertos Nos. 1 & 2', 235),
 (302, 'Mascagni: Cavalleria Rusticana', 236),
 (303, 'Sibelius: Finlandia', 237),
 (304, 'Beethoven Piano Sonatas: Moonlight & Pastorale', 238),
 (305, 'Great Recordings of the Century - Mahler: Das Lied von der Erde', 240),
 (306, 'Elgar: Cello Concerto & Vaughan Williams: Fantasias', 241),
 (307, 'Adams, John: The Chairman Dances', 242),
 (308,
  "Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory",
  243),
 (309, 'Palestrina: Missa Papae Marcelli & Allegri: Miserere', 244),
 (310, 'Prokofiev: Romeo & Juliet', 245),
 (311, 'Strauss: Waltzes', 226),
 (312, 'Berlioz: Symphonie Fantastique', 245),
 (313, 'Bizet: Carmen Highlights', 246),
 (314, 'English Renaissance', 247),
 (315, 'Handel: Music for the Royal Fireworks (Original Version 1749)', 208),
 (316, 'Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande', 248),
 (317, 'Mozart Gala: Famous Arias', 249),
 (318, 'SCRIABIN: Vers la flamme', 250),
 (319, 'Armada: Music from the Courts of England and Spain', 251),
 (320, 'Mozart: Symphonies Nos. 40 & 41', 248),
 (321, 'Back to Black', 252),
 (322, 'Frank', 252),
 (323, 'Carried to Dust (Bonus Track Version)', 253),
 (324, "Beethoven: Symphony No. 6 'Pastoral' Etc.", 254),
 (325, 'Bartok: Violin & Viola Concertos', 255),
 (326, "Mendelssohn: A Midsummer Night's Dream", 256),
 (327, 'Bach: Orchestral Suites Nos. 1 - 4', 257),
 (328, 'Charpentier: Divertissements, Airs & Concerts', 258),
 (329, 'South American Getaway', 259),
 (330, 'Górecki: Symphony No. 3', 260),
 (331, 'Purcell: The Fairy Queen', 261),
 (332, 'The Ultimate Relexation Album', 262),
 (333, 'Purcell: Music for the Queen Mary', 263),
 (334, 'Weill: The Seven Deadly Sins', 264),
 (335,
  'J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro',
  265),
 (336, 'Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps', 248),
 (337, 'Szymanowski: Piano Works, Vol. 1', 266),
 (338, 'Nielsen: The Six Symphonies', 267),
 (339, "Great Recordings of the Century: Paganini's 24 Caprices", 268),
 (340, "Liszt - 12 Études D'Execution Transcendante", 269),
 (341,
  'Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder',
  270),
 (342, 'Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3', 271),
 (343, 'Respighi:Pines of Rome', 226),
 (344, "Schubert: The Late String Quartets & String Quintet (3 CD's)", 272),
 (345, "Monteverdi: L'Orfeo", 273),
 (346, 'Mozart: Chamber Music', 274),
 (347, 'Koyaanisqatsi (Soundtrack from the Motion Picture)', 275)]

In [56]:
# querying the selected table column names

c2.execute("PRAGMA table_info(albums)")

In [57]:
albums_table_column_names = c2.fetchall()

In [58]:
albums_table_column_names

[(0, 'AlbumId', 'INTEGER', 1, None, 1),
 (1, 'Title', 'NVARCHAR(160)', 1, None, 0),
 (2, 'ArtistId', 'INTEGER', 1, None, 0)]

In [59]:
import pandas as pd

In [60]:
albums_table_columns = pd.DataFrame(albums_table_column_names)

In [61]:
albums_df = pd.DataFrame(albums_table, columns=albums_table_columns.loc[:,1])

In [62]:
albums_df

1    AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

#### 2

In [63]:
c2.execute("SELECT * FROM artists")

In [64]:
artists_table = c2.fetchall()

In [65]:
artists_table

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains'),
 (6, 'Antônio Carlos Jobim'),
 (7, 'Apocalyptica'),
 (8, 'Audioslave'),
 (9, 'BackBeat'),
 (10, 'Billy Cobham'),
 (11, 'Black Label Society'),
 (12, 'Black Sabbath'),
 (13, 'Body Count'),
 (14, 'Bruce Dickinson'),
 (15, 'Buddy Guy'),
 (16, 'Caetano Veloso'),
 (17, 'Chico Buarque'),
 (18, 'Chico Science & Nação Zumbi'),
 (19, 'Cidade Negra'),
 (20, 'Cláudio Zoli'),
 (21, 'Various Artists'),
 (22, 'Led Zeppelin'),
 (23, 'Frank Zappa & Captain Beefheart'),
 (24, 'Marcos Valle'),
 (25, 'Milton Nascimento & Bebeto'),
 (26, 'Azymuth'),
 (27, 'Gilberto Gil'),
 (28, 'João Gilberto'),
 (29, 'Bebel Gilberto'),
 (30, 'Jorge Vercilo'),
 (31, 'Baby Consuelo'),
 (32, 'Ney Matogrosso'),
 (33, 'Luiz Melodia'),
 (34, 'Nando Reis'),
 (35, 'Pedro Luís & A Parede'),
 (36, 'O Rappa'),
 (37, 'Ed Motta'),
 (38, 'Banda Black Rio'),
 (39, 'Fernanda Porto'),
 (40, 'Os Cariocas'),
 (41, 'Elis Regina'),
 (42, 'Milton Nascimento'),
 (43, 'A Cor Do Som'),
 (44, 'Kid Abelha'),
 (45, 'Sandra De Sá'),
 (46, 'Jorge Ben'),
 (47, 'Hermeto Pascoal'),
 (48, 'Barão Vermelho'),
 (49, 'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto'),
 (50, 'Metallica'),
 (51, 'Queen'),
 (52, 'Kiss'),
 (53, 'Spyro Gyra'),
 (54, 'Green Day'),
 (55, 'David Coverdale'),
 (56, 'Gonzaguinha'),
 (57, 'Os Mutantes'),
 (58, 'Deep Purple'),
 (59, 'Santana'),
 (60, 'Santana Feat. Dave Matthews'),
 (61, 'Santana Feat. Everlast'),
 (62, 'Santana Feat. Rob Thomas'),
 (63, 'Santana Feat. Lauryn Hill & Cee-Lo'),
 (64, 'Santana Feat. The Project G&B'),
 (65, 'Santana Feat. Maná'),
 (66, 'Santana Feat. Eagle-Eye Cherry'),
 (67, 'Santana Feat. Eric Clapton'),
 (68, 'Miles Davis'),
 (69, 'Gene Krupa'),
 (70, 'Toquinho & Vinícius'),
 (71, 'Vinícius De Moraes & Baden Powell'),
 (72, 'Vinícius De Moraes'),
 (73, 'Vinícius E Qurteto Em Cy'),
 (74, 'Vinícius E Odette Lara'),
 (75, 'Vinicius, Toquinho & Quarteto Em Cy'),
 (76, 'Creedence Clearwater Revival'),
 (77, 'Cássia Eller'),
 (78, 'Def Leppard'),
 (79, 'Dennis Chambers'),
 (80, 'Djavan'),
 (81, 'Eric Clapton'),
 (82, 'Faith No More'),
 (83, 'Falamansa'),
 (84, 'Foo Fighters'),
 (85, 'Frank Sinatra'),
 (86, 'Funk Como Le Gusta'),
 (87, 'Godsmack'),
 (88, "Guns N' Roses"),
 (89, 'Incognito'),
 (90, 'Iron Maiden'),
 (91, 'James Brown'),
 (92, 'Jamiroquai'),
 (93, 'JET'),
 (94, 'Jimi Hendrix'),
 (95, 'Joe Satriani'),
 (96, 'Jota Quest'),
 (97, 'João Suplicy'),
 (98, 'Judas Priest'),
 (99, 'Legião Urbana'),
 (100, 'Lenny Kravitz'),
 (101, 'Lulu Santos'),
 (102, 'Marillion'),
 (103, 'Marisa Monte'),
 (104, 'Marvin Gaye'),
 (105, 'Men At Work'),
 (106, 'Motörhead'),
 (107, 'Motörhead & Girlschool'),
 (108, 'Mônica Marianno'),
 (109, 'Mötley Crüe'),
 (110, 'Nirvana'),
 (111, 'O Terço'),
 (112, 'Olodum'),
 (113, 'Os Paralamas Do Sucesso'),
 (114, 'Ozzy Osbourne'),
 (115, 'Page & Plant'),
 (116, 'Passengers'),
 (117, "Paul D'Ianno"),
 (118, 'Pearl Jam'),
 (119, 'Peter Tosh'),
 (120, 'Pink Floyd'),
 (121, 'Planet Hemp'),
 (122, 'R.E.M. Feat. Kate Pearson'),
 (123, 'R.E.M. Feat. KRS-One'),
 (124, 'R.E.M.'),
 (125, 'Raimundos'),
 (126, 'Raul Seixas'),
 (127, 'Red Hot Chili Peppers'),
 (128, 'Rush'),
 (129, 'Simply Red'),
 (130, 'Skank'),
 (131, 'Smashing Pumpkins'),
 (132, 'Soundgarden'),
 (133, 'Stevie Ray Vaughan & Double Trouble'),
 (134, 'Stone Temple Pilots'),
 (135, 'System Of A Down'),
 (136, 'Terry Bozzio, Tony Levin & Steve Stevens'),
 (137, 'The Black Crowes'),
 (138, 'The Clash'),
 (139, 'The Cult'),
 (140, 'The Doors'),
 (141, 'The Police'),
 (142, 'The Rolling Stones'),
 (143, 'The Tea Party'),
 (144, 'The Who'),
 (145, 'Tim Maia'),
 (146, 'Titãs'),
 (147, 'Battlestar Galactica'),
 (148, 'Heroes'),
 (149, 'Lost'),
 (150, 'U2'),
 (151, 'UB40'),
 (152, 'Van Halen'),
 (153, 'Velvet Revolver'),
 (154, 'Whitesnake'),
 (155, 'Zeca Pagodinho'),
 (156, 'The Office'),
 (157, 'Dread Zeppelin'),
 (158, 'Battlestar Galactica (Classic)'),
 (159, 'Aquaman'),
 (160, 'Christina Aguilera featuring BigElf'),
 (161, "Aerosmith & Sierra Leone's Refugee Allstars"),
 (162, 'Los Lonely Boys'),
 (163, 'Corinne Bailey Rae'),
 (164, 'Dhani Harrison & Jakob Dylan'),
 (165, 'Jackson Browne'),
 (166, 'Avril Lavigne'),
 (167, 'Big & Rich'),
 (168, "Youssou N'Dour"),
 (169, 'Black Eyed Peas'),
 (170, 'Jack Johnson'),
 (171, 'Ben Harper'),
 (172, 'Snow Patrol'),
 (173, 'Matisyahu'),
 (174, 'The Postal Service'),
 (175, 'Jaguares'),
 (176, 'The Flaming Lips'),
 (177, "Jack's Mannequin & Mick Fleetwood"),
 (178, 'Regina Spektor'),
 (179, 'Scorpions'),
 (180, 'House Of Pain'),
 (181, 'Xis'),
 (182, 'Nega Gizza'),
 (183, 'Gustavo & Andres Veiga & Salazar'),
 (184, 'Rodox'),
 (185, 'Charlie Brown Jr.'),
 (186, 'Pedro Luís E A Parede'),
 (187, 'Los Hermanos'),
 (188, 'Mundo Livre S/A'),
 (189, 'Otto'),
 (190, 'Instituto'),
 (191, 'Nação Zumbi'),
 (192, 'DJ Dolores & Orchestra Santa Massa'),
 (193, 'Seu Jorge'),
 (194, 'Sabotage E Instituto'),
 (195, 'Stereo Maracana'),
 (196, 'Cake'),
 (197, 'Aisha Duo'),
 (198, 'Habib Koité and Bamada'),
 (199, 'Karsh Kale'),
 (200, 'The Posies'),
 (201, 'Luciana Souza/Romero Lubambo'),
 (202, 'Aaron Goldberg'),
 (203, 'Nicolaus Esterhazy Sinfonia'),
 (204, 'Temple of the Dog'),
 (205, 'Chris Cornell'),
 (206, 'Alberto Turco & Nova Schola Gregoriana'),
 (207, 'Richard Marlow & The Choir of Trinity College, Cambridge'),
 (208, 'English Concert & Trevor Pinnock'),
 (209, 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker'),
 (210,
  'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer'),
 (211, 'Wilhelm Kempff'),
 (212, 'Yo-Yo Ma'),
 (213, 'Scholars Baroque Ensemble'),
 (214, 'Academy of St. Martin in the Fields & Sir Neville Marriner'),
 (215,
  'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner'),
 (216, 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer'),
 (217, 'Royal Philharmonic Orchestra & Sir Thomas Beecham'),
 (218, 'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner'),
 (219, 'Britten Sinfonia, Ivor Bolton & Lesley Garrett'),
 (220,
  'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti'),
 (221, 'Sir Georg Solti & Wiener Philharmoniker'),
 (222,
  'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair'),
 (223, 'London Symphony Orchestra & Sir Charles Mackerras'),
 (224, 'Barry Wordsworth & BBC Concert Orchestra'),
 (225, 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker'),
 (226, 'Eugene Ormandy'),
 (227, 'Luciano Pavarotti'),
 (228, 'Leonard Bernstein & New York Philharmonic'),
 (229, 'Boston Symphony Orchestra & Seiji Ozawa'),
 (230, 'Aaron Copland & London Symphony Orchestra'),
 (231, 'Ton Koopman'),
 (232, 'Sergei Prokofiev & Yuri Temirkanov'),
 (233, 'Chicago Symphony Orchestra & Fritz Reiner'),
 (234, 'Orchestra of The Age of Enlightenment'),
 (235, 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra'),
 (236, 'James Levine'),
 (237, 'Berliner Philharmoniker & Hans Rosbaud'),
 (238, 'Maurizio Pollini'),
 (239,
  'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett'),
 (240, 'Gustav Mahler'),
 (241, 'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos'),
 (242, 'Edo de Waart & San Francisco Symphony'),
 (243, 'Antal Doráti & London Symphony Orchestra'),
 (244, 'Choir Of Westminster Abbey & Simon Preston'),
 (245, 'Michael Tilson Thomas & San Francisco Symphony'),
 (246,
  'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker'),
 (247, "The King's Singers"),
 (248, 'Berliner Philharmoniker & Herbert Von Karajan'),
 (249, 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker'),
 (250, "Christopher O'Riley"),
 (251, 'Fretwork'),
 (252, 'Amy Winehouse'),
 (253, 'Calexico'),
 (254, 'Otto Klemperer & Philharmonia Orchestra'),
 (255, 'Yehudi Menuhin'),
 (256, 'Philharmonia Orchestra & Sir Neville Marriner'),
 (257,
  'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart'),
 (258, 'Les Arts Florissants & William Christie'),
 (259, 'The 12 Cellists of The Berlin Philharmonic'),
 (260, 'Adrian Leaper & Doreen de Feis'),
 (261, 'Roger Norrington, London Classical Players'),
 (262, "Charles Dutoit & L'Orchestre Symphonique de Montréal"),
 (263,
  'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir'),
 (264, "Kent Nagano and Orchestre de l'Opéra de Lyon"),
 (265, 'Julian Bream'),
 (266, 'Martin Roscoe'),
 (267, 'Göteborgs Symfoniker & Neeme Järvi'),
 (268, 'Itzhak Perlman'),
 (269, 'Michele Campanella'),
 (270, 'Gerald Moore'),
 (271, 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp'),
 (272, 'Emerson String Quartet'),
 (273,
  'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu'),
 (274, 'Nash Ensemble'),
 (275, 'Philip Glass Ensemble')]

In [66]:
# querying the selected table column names

c2.execute("PRAGMA table_info(artists)")

In [67]:
artists_table_column_names = c2.fetchall()

In [68]:
artists_table_column_names

[(0, 'ArtistId', 'INTEGER', 1, None, 1),
 (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

In [69]:
artists_table_columns = pd.DataFrame(artists_table_column_names)

In [70]:
artists_df = pd.DataFrame(artists_table, columns=artists_table_columns.loc[:,1])

In [71]:
artists_df

1    ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]

#### joining the albums and artists tables

In [72]:
merged = pd.merge(albums_df, artists_df, on='ArtistId')

In [73]:
merged

1,AlbumId,Title,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,AC/DC
1,4,Let There Be Rock,1,AC/DC
2,2,Balls to the Wall,2,Accept
3,3,Restless and Wild,2,Accept
4,5,Big Ones,3,Aerosmith
...,...,...,...,...
342,342,"Locatelli: Concertos for Violin, Strings and C...",271,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp"
343,344,Schubert: The Late String Quartets & String Qu...,272,Emerson String Quartet
344,345,Monteverdi: L'Orfeo,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
345,346,Mozart: Chamber Music,274,Nash Ensemble
346,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,Philip Glass Ensemble

In [74]:
conn2.close()