In [30]:
import pandas as pd
import seaborn as sns

In [53]:
df = sns.load_dataset('iris')

In [54]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [55]:
df.shape

(150, 5)

In [56]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [57]:
df['species'].replace({'setosa':1, 'versicolor':2, 'virginica':3}, inplace=True)

In [58]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [59]:
X = df.drop('species', axis=1)
y = df['species']

In [60]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [61]:
y

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: species, Length: 150, dtype: int64

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [64]:
X_train.shape

(120, 4)

In [65]:
X_test.shape

(30, 4)

In [66]:
from sklearn.linear_model import LogisticRegression

In [67]:
lr = LogisticRegression()

In [68]:
lr.fit(X_train, y_train)

LogisticRegression()

In [69]:
lr.coef_

array([[-0.39721419,  0.96074676, -2.37395333, -1.00314722],
       [ 0.51271958, -0.2531581 , -0.2153638 , -0.76918051],
       [-0.11550539, -0.70758866,  2.58931712,  1.77232773]])

In [70]:
lr.intercept_

array([  9.03235199,   1.84148384, -10.87383582])

In [71]:
y_pred = lr.predict(X_test)

In [72]:
lr.score(X_test, y_test)

1.0

In [73]:
from sklearn.metrics import confusion_matrix

In [74]:
confusion_matrix(y_test, y_pred)

array([[10,  0,  0],
       [ 0,  9,  0],
       [ 0,  0, 11]])