In [1]:
import numpy as np
from scipy import stats
import pandas as pd

In [34]:
stats.t.cdf(2.52, 18)

0.9893007147032317

In [33]:
stats.norm.cdf(2.52)

0.9941322582846674

In [32]:
stats.t.ppf(0.95, 18)

1.7340636066175354

In [16]:
stats.norm.ppf(0.975)

1.959963984540054

In [18]:
# independent samples t test

In [20]:
x = [91.50, 94.18, 92.18, 95.39, 91.79, 89.07, 94.72, 89.21, 89.19, 90.95, 90.46, \
     93.21, 97.19, 97.04, 91.07, 92.75]
group = [1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2]
df = pd.DataFrame({"yield":x, "group":group})
df

    yield  group
0   91.50      1
1   94.18      1
2   92.18      1
3   95.39      1
4   91.79      1
5   89.07      1
6   94.72      1
7   89.21      1
8   89.19      2
9   90.95      2
10  90.46      2
11  93.21      2
12  97.19      2
13  97.04      2
14  91.07      2
15  92.75      2

In [25]:
ind_test = stats.ttest_ind(df[df.group == 1]['yield'], df[df.group == 2]['yield'])
ind_test

Ttest_indResult(statistic=-0.3535908643461798, pvalue=0.7289136186068217)

In [26]:
ind_test.statistic

-0.3535908643461798

In [27]:
ind_test.pvalue

0.7289136186068217

In [28]:
# Decision
alpha = 0.05
if ind_test.pvalue <= alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

In [29]:
# from descriptive statistics

In [31]:
ind_test2 = stats.ttest_ind_from_stats(mean1=92.255, std1=2.39, nobs1=8,
                          mean2=92.733, std2=2.98, nobs2=8)
ind_test2

Ttest_indResult(statistic=-0.353922390875553, pvalue=0.7286705530970293)

In [4]:
ind_test2 = stats.ttest_ind_from_stats(mean1=10.67, std1=3.895, nobs1=500,
                          mean2=7.83, std2=4.224, nobs2=400, alternative = 'greater')
ind_test2

Ttest_indResult(statistic=10.4676374161062, pvalue=1.4200116519875262e-24)

In [5]:
# paired samples t test

In [ ]:
stats.ttest.rel()

In [6]:
# one-way anova

In [ ]:
# statsmodels kutuphanesine de bakmak lazim.